pipeline/prodPipeline.json
{
	"name": "prodPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "incrementalIngestionPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-12.northcentralus.logic.azure.com:443/workflows/76fd1b9f8f444b608e1b3fe4900a9dcf/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=ejqeuTDK9WmDJ0nwFjkJjkV6ccMtte7BoRdAEwNRlpc",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"pipeline_runId\": \"@{pipeline().RunId}\",\n    \"error\": \"@{if(equals(activity('ExecuteIncremental').Status,'Failed') , string(activity('ExecuteIncremental').error.message),'Success' )}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}